body {
  margin: 0;
  direction: rtl !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family:irs !important;
    src: url(fonts.css);
  }
  
code {
  font-family:irs, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 